<p>etapa-form works!</p>
<form [formGroup]='formGroup' (ngSubmit)='enviarForm()'>
    <div class="form-group">
        <label for="profissional">Profissional</label>
        <select formControlName='profissional' id="profissional" class="form-control">
            <option value="">Selecione...</option>
            <option *ngFor="let profissional of profissionais" [value]="profissional._id">{{profissional.nome}}</option>
        </select>
    </div>
    
    <div class="form-group">
        <label for="descricao">descricao</label>
        <textarea id="descricao" cols="100" rows="10" formControlName='descricao' class="form-control" style="resize: none;"></textarea>
    </div>

    <div class="form-group">
        <label for="dia">dia</label>
        <input id="dia" type="date" formControlName='dia' class="form-control">
    </div>

    <div class="form-group">
        <label for="hora">hora</label>
        <input id="hora" type="time" formControlName='hora' class="form-control">
    </div>

    <button type="submit" [disabled]='formGroup.invalid' class="btn btn-primary">Enviar</button>
</form>