<h2>Pacientes</h2>
<button [routerLink]='["novo"]' class="btn btn-primary">Novo Paciente</button>
<table *ngIf='pacientes' class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Data Nascimento</th>
            <th>Idade</th>
            <th>Endereco</th>
            <th>Comorbidades</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let paciente of pacientes'>
            <td>{{paciente.nome}}</td>
            <td>{{paciente.dataNascimento}}</td>
            <td>{{getIdade(paciente)}}</td>
            <td>{{paciente.endereco}}</td>
            <td>{{getComorbidadeString(paciente)}}</td>
        </tr>
    </tbody>
</table>