<h2>Cadastro Atendimento</h2>
<form [formGroup]='formGroup' (ngSubmit)='enviarForm()' class="row mt-5">
    <div class="form-group col-12">
        <label for="unidadeSaude">Unidade</label>
        <select formControlName='unidadeSaude' id="unidadeSaude" class="form-control">
            <option value="">Seleione...</option>
            <option *ngFor="let unidade of unidades" [value]="unidade._id">{{unidade.nome}}</option>
        </select>
    </div>
    
    <div class="form-group col-12">
        <label for="pacienteId">Paciente</label>
        <select formControlName='pacienteId' id="paciente" class="form-control">
            <option value="">Selecione...</option>
            <option *ngFor="let paciente of pacientes" [value]="paciente._id">{{paciente.nome}}</option>
        </select>
        <a routerLink='../../pacientes/novo'>cadastrar</a>
    </div>

    <div class="form-group col-6">
        <label for="dia">Dia</label>
        <input type="date" formControlName='dia' id="dia" class="form-control">
    </div>

    <div class="form-group col-6">
        <label for="hora">Hora</label>
        <input type="time" formControlName='hora' id="hora" class="form-control">
    </div>

    <input type="submit" [disabled]="formGroup.invalid" class="btn btn-primary w-50 mx-auto mt-5">
</form>
