<h2>Novo Teste</h2>
<form [formGroup]='formGroup' (ngSubmit)='enviarForm()'>
    <div class="form-group">
        <label for="atendimento">Atendimento</label>
        <input formControlName='atendimentoId' type="readonly" id="atendimento" class="form-control">

        <label for="paciente">Paciente</label>
        <select formControlName='paciente' class="form-control" id="paciente">
            <option *ngIf='atendimento' [value]="atendimento.paciente._id">{{atendimento.paciente.nome}}</option>
        </select>

        <label for="unidade">Unidade</label>
        <select formControlName='unidade' class="form-control" id="unidade">
            <option *ngIf='atendimento' [value]="atendimento.unidadeSaude._id">{{atendimento.unidadeSaude.nome}}</option>
        </select>

        <label for="tipo">Tipo</label>
        <select formControlName='tipo' class="form-control" id="tipo">
            <option value="" disabled selected>Selecione...</option>
            <option value="RT-PCR">RT-PCR</option>
            <option value="IgM/IgG">IgM/IgG</option>
        </select>

        <label for="dia">Dia</label>
        <input formControlName='data' type="date" id="dia" class="form-control">

        <button [disabled]='!formGroup.valid' type="submit" class="btn btn-primary">Enviar</button>
    </div>
</form>