<h2>Unidades de Saude</h2>
<button class="btn btn-primary" [routerLink]='["nova"]'>Nova Unidade</button>
<table *ngIf='unidades' class="table">
    <thead>
        <tr>
            <th>Unidade</th>
            <th>Endereço</th>
            <th>Telefone</th>
            <th>Total Atendimentos</th>
            <th>Novos Atendimentos</th>
            <th>Tempo Máximo</th>
            <th>Tempo Mínimo</th>
            <th>Tempo Médio</th>
        </tr>
    </thead>
    <tbody class="text-center">
        <tr *ngFor='let unidade of unidades'>
            <td>{{unidade.nome}}</td>
            <td>{{unidade.endereco}}</td>
            <td>{{unidade.telefone}}</td>
            <td>{{unidade.atendimentosCount}}</td>
            <td>{{unidade.ultimoDiaCount}}  
                <span *ngIf='unidade.ultimoDiaCount>unidade.penultimoDiaCount' class="badge badge-danger">&and;</span>
                <span *ngIf='unidade.ultimoDiaCount==unidade.penultimoDiaCount' class="badge badge-info">&or;</span>
                <span *ngIf='unidade.penultimoDiaCount>unidade.ultimoDiaCount' class="badge badge-success">=</span></td>
            <td>{{unidade.estatisticas? (unidade.estatisticas.tempoMaximo/1000/60).toFixed() + 'min' : '-'}}</td>
            <td>{{unidade.estatisticas? (unidade.estatisticas.tempoMinimo/1000/60).toFixed() + 'min' : '-'}}</td>
            <td>{{unidade.estatisticas? (unidade.estatisticas.tempoMedio/1000/60).toFixed() + 'min' : '-'}}</td>
        </tr>
    </tbody>
</table>