<h2>Dashboard RECON19</h2>
<section class="mt-5">
    <h3>Atendimentos</h3>
    <div class="row justify-content-center my-5">
        <div class="col-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Total Atendimenots</h5>
                    <p class="card-text">{{totalAtendimentos}}</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Atendimentos Ultimo Dia</h5>
                    <p class="card-text" *ngIf='atendimentosRelatorio.length>0'>{{atendimentosRelatorio[atendimentosRelatorio.length-1].count}}</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Unidades Cadastradas</h5>
                    <p class="card-text">{{totalUnidadesCadastradas}}</p>
                </div>
            </div>
        </div>
    </div>
    <app-timeline-grafico [graphData]='atendimentosRelatorio' seriesName='Atendimentos' title='Atendimentos por Data'></app-timeline-grafico>
</section>
    
<section class="mt-5">
    <h3>Casos</h3>
    <div class="row justify-content-center my-5">
        <div class="col-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Total Casos</h5>
                    <p class="card-text">{{totalCasos}}</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Casos Ultimo Dia</h5>
                    <p class="card-text" *ngIf='casosRelatorio.length>0'>{{casosRelatorio[casosRelatorio.length-1].count}}</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Casos Ativos</h5>
                    <p class="card-text">{{totalCasosAtivos}}</p>
                </div>
            </div>
        </div>
    </div>
    <app-timeline-grafico [graphData]='casosRelatorio' seriesName='Casos' title='Casos por Data'></app-timeline-grafico>
</section>
    
<section class="mt-5">
    <h3>Testes</h3>
    <div class="row justify-content-center my-5">
        <div class="col-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Total de Testes</h5>
                    <p class="card-text">{{totalTestes}}</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Testes Ultimo Dia</h5>
                    <p class="card-text" *ngIf='testesRelatorio.length>0'>{{testesRelatorio[testesRelatorio.length-1].count}}</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Percentual Positivos</h5>
                    <p class="card-text">{{percentualTestesPositivos.toFixed(2)}}%</p>
                </div>
            </div>
        </div>
    </div>
    <app-timeline-grafico [graphData]='testesRelatorio' seriesName='Testes' title='Testes pos Data'></app-timeline-grafico>
</section>