<section>
    <h2>Atendimentos</h2>
    <div class="row justify-content-end">
        <button [routerLink]="['novo']" class="btn btn-primary my-3 col-2">Novo</button>
    </div>
    <table *ngIf="atendimentos" class="table table-hover">
        <thead>
            <tr>
                <th>Unidade</th>
                <th>Paciente</th>
                <th>Horario Inicio</th>
                <th>Ativo</th>
                <th>Horario Fim</th>
                <th>Testes</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let atendimento of atendimentos' (click)="mostrarDetalhes(atendimento._id)">
                <td>{{atendimento.unidadeSaude.nome}}</td>
                <td>{{atendimento.paciente.nome}}</td>
                <td>{{atendimento.horarioInicio|date:'short'}}</td>
                <td>{{atendimento.ativo? 'ativo':'inativo'}}</td>
                <td>{{atendimento.horarioFim? (atendimento.horarioFim|date:'short') : '-'}}</td>
                <td>{{atendimento.testes.length}}</td>
            </tr>
        </tbody>
    </table>
</section>

<section class="mt-5">
    <h2>Atendimentos por dia</h2>
    <app-timeline-grafico [graphData]='relatorios' seriesName='Atendimentos' title='Atendimentos por Data'></app-timeline-grafico>
</section>
