<h2>Cadastro de Unidade</h2>
<form [formGroup]='formGroup' (ngSubmit)='enviarForm()'>
    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" id="nome" formControlName='nome' class="form-control">
    </div>
    <div class="form-group">
        <label for="endereco">Endereço</label>
        <input type="text" id="endereco" formControlName='endereco' class="form-control">
    </div>
    <div class="form-group">
        <label for="telefone">Telefone</label>
        <input type="text" id="telefone" formControlName='telefone' class="form-control">
    </div>
    <button type="submit" class="btn btn-primary" [disabled]='!formGroup.valid'>Enviar</button>
</form>