<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['/']">Recon19</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
              <li *ngFor='let link of links' class="nav-item">
                  <a [routerLink]='[link.url]' class="nav-link">{{link.title}}</a>
              </li>
          </ul>
        </div>
    </div>
  </nav>