<h3>Atualizar Teste</h3>
<form [formGroup]='formGroup' (ngSubmit)='enviarForm()'>
    <div class="form-group">
        <label for="id">Id</label>
        <input type="text" id="id" formControlName='id' class="form-control">
    </div>
    <div class="form-group">
        <label for="tipo">Tipo</label>
        <input type="text" id="tipo" formControlName='tipo' class="form-control">
    </div>
    <div class="form-group">
        <label for="data">Data</label>
        <input type="date" id="data" formControlName='data' class="form-control">
    </div>
    <label>Resultado</label>
    <div class="form-check">
        <input type="radio" id="positivo" formControlName='resultado' value="true" class="form-check-input">
        <label for="positivo" class="form-check-label">Positivo</label>
    </div>
    <div class="form-check">
        <input type="radio" id="negativo" formControlName='resultado' value="false" class="form-check-input">
        <label for="negativo" class="form-check-label">Negativo</label>
    </div>

    <button [disabled]='!formGroup.valid' type="submit" class="btn btn-primary">Enviar</button>
</form>