<h2>Cadastrar Paciente</h2>
<form [formGroup]='formGroup' (ngSubmit)='enviarForm()'>
    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" id="nome" formControlName='nome' class="form-control">
    </div>
    <div class="form-group">
        <label for="endereco">Endereço</label>
        <input type="text" id="endereco" formControlName='endereco' class="form-control">
    </div>
    <div class="form-group">
        <label for="cpf">Cpf</label>
        <input type="text" id="cpf" formControlName='cpf' class="form-control">
    </div>
    <div class="form-group">
        <label for="dataNascimento">Data de Nascimento</label>
        <input type="date" id="dataNascimento" formControlName='dataNascimento' class="form-control">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" formControlName='email' class="form-control">
    </div>
    <div class="form-group">
        <label for="telefone">Telefone</label>
        <input type="tel" id="telefone" formControlName='telefone' class="form-control">
    </div>
    <label>Comorbidades</label>
    <div *ngFor='let comorbidade of comorbidadesLista; let i = index' class="form-check">
        <input type="checkbox" [id]="comorbidade._id" [value]="comorbidade._id" class="form-check-input" formControlName='comorbidades'>
        <label [for]="comorbidade._id" class="form-check-label">{{comorbidade.descricao}}</label>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]='!formGroup.valid'>Enviar</button>
    {{comorbidades.value}}
</form>