<h2>Detalhes Atendimento</h2>
<div *ngIf='atendimento' class="mt-5">
    <button *ngIf='atendimento.ativo' (click)='encerrarAtendimento()' class="btn btn-primary col-2 d-block float-right">Encerrar atendimento</button>
    <h3 class="mt-3">Horário Início</h3>
    <span>{{atendimento.horarioInicio |date:'dd/MM/yyyy hh:mm'}}</span>
    
    <h3 class="mt-3">Ativo</h3>
    <span>{{atendimento.ativo? 'Sim' : 'Não'}}</span>
    <hr class="my-3">
    <h2 class="mb-4">Paciente</h2>
    <h3>Nome</h3>
    <span>{{atendimento.paciente.nome}}</span>
    <h3 class="mt-3">Endereço</h3>
    <span>{{atendimento.paciente.endereco}}</span>
    
    <h3 class="mt-3">Data Nascimento</h3>
    <span>{{atendimento.paciente.dataNascimento|date:'dd/MM/yyyy'}} ({{idadePaciente}} anos)</span>
    
    <h3 *ngIf='atendimento.paciente.comorbidades.length>0' class="mt-3">Fatores de risco:</h3>
    <p *ngFor='let c of atendimento.paciente.comorbidades'>{{c.descricao}} </p>
    <hr class="my-3">
    <h2>Etapas Atendimento</h2>
    <button [routerLink]='["novaEtapa"]' [disabled]='!atendimento.ativo' class="btn btn-primary col-2 float-right">Inserir Etapa</button>
    <p *ngIf='atendimento.etapas.length==0' class="text-center my-5">Nenhuma etapa cadastrada</p>
    <table *ngIf="atendimento.etapas.length>0" class="table mt-3">
        <thead>
            <tr>
                <th>Atendente</th>
                <th>Detalhes</th>
                <th>Horário</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let e of atendimento.etapas">
                <td>{{e.profissional.nome}}</td>
                <td>{{e.descricao}}</td>
                <td>{{e.horarioInicio|date:'dd/MM/yyyy hh:mm'}}</td>
            </tr>
        </tbody>
    </table>


    <hr class="my-3">
    <h2>Testes</h2>
    <button [disabled]='atendimento.testes.length>=2' class="btn btn-primary float-right" [routerLink]='["novoTeste"]'>Inserir Teste</button>
    <table class="table" *ngIf='atendimento.testes.length>0'>
        <thead>
            <tr>
                <th>tipo</th>
                <th>data</th>
                <th>Resultado</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let teste of atendimento.testes'>
                <td>{{teste.tipo}}</td>
                <td>{{teste.data|date:'dd/MM/yyyy'}}</td>
                <td *ngIf='teste.resultado !== undefined'>{{teste.resultado? 'Positivo' : 'Negativo'}}</td>
                <td *ngIf='teste.resultado === undefined'><button class="btn btn-sm btn-primary" [routerLink]='["../../testes", teste._id, "resultado"]'>Adicionar Resultado</button></td>
            </tr>
        </tbody>
    </table>
    <p *ngIf='atendimento.testes.length==0' class="text-center my-5">Nenhum teste cadastrado</p>
</div>    